<h1>{{{ question.question_text }}</h1>
{% if error_message %}
    <p><strong>{{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!-- All post forms that are targeted at internal URLs should use this token template tag to protect against Cross Site Request Forgeries.  -->

    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice {{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="vote">
</form>
<!-->
the template system uses dot-lookup syntax to access variable attributes.
Methods in {% for %} loop, eg
question.choice_set.all -> interpreted as the python code question.choice_set.all() -> returns an iterable of Choice object, hence can be used in {% for %} tag.
</!-->
